{% load bootstrap4 %}
{% load static %}
<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% bootstrap_css %}
    <title>{% block title %}Agendamento Estética{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="/">🏠 Agendamento Estética</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/">Serviços <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/admin">Gerenciamento</a>
        </div>
      </div>
    </nav>
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>

    {% bootstrap_javascript jquery='full' %}
  </body>
</html>
